<!DOCTYPE html>
<html>
  <head>
  <title>Come Together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- import custom CSS modules -->
  <link href="/css/comeTogether.css" rel="stylesheet">
  <link href="/css/textFonts.css" rel="stylesheet">
  <link href="/css/discover.css" rel="stylesheet">
  </head>
  <body>
    <div id="header"></div>

    <div class="container">
      <!-- Search Box -->
      <h2 style="margin-bottom: 30px">Discover Local Projects</h2>
      <div id="floating-panel" class="container">
        <input id="address" type="textbox" value="92092">
        <input id="submit" type="button" value="Find">
      </div>
      <!-- Google Maps -->
      <div id="map" class="iframe-container container"></div>

      <!-- List of Projects -->
      <h4 style="margin-top: 20px">Trending Now</h4>
        <div><a href=/project/trending/1 class="thumbnail"><p>Pothole Repair Service</p></a></div>
        <div><a href=/project/trending/2 class="thumbnail"><p>Sparkling Clean Beach</p></a></div>
    </div>

    <!-- load footer -->
    <div id="footer"></div>

    <!-- load JS scripts -->
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/comeTogether.js"></script>
    <!-- load header and footer using scripts-->
    <script> $(function() {$("#header").load("/header.html")} ); </script>
    <script> $(function() {$("#footer").load("/footer.html")} ); </script>
    <!-- GMaps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRVRC24AQ-lrsvtsXe4OFs0WwrSYY6Di8&callback=initMap"></script>
    <script src="/js/discover.js"></script>

  </body>
</html>