<!DOCTYPE html>
<html>
<head>
  <title>Come Together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- import custom CSS modules -->
  <link href="/css/comeTogether.css" rel="stylesheet">
  <link href="/css/textFonts.css" rel="stylesheet">
  <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
  <!-- load header -->
  <div id="header"></div>

  <a href="/settings"><p align = "right">Edit Profile&Settings</p></a>

  <!-- *** ADD CODE HERE *** -->
  <div class= "user">
    <img src="/images/cat_profile_picture.jpg">
    <h1 class="username">Joe Smith</h1>    
  </div>


  <!-- *** ADD CODE HERE *** -->

  <!-- Toggles between user's about/projects -->
  <div class="container">
    <!-- Allow you to toggle between different content on the home screen -->
    <ul class="tab">
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'UserAbout')" id = "defaultOpen">About</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'UserProjects')">Projects</a></li>
    </ul>
  </div>

  <div id="UserAbout" class="tabcontent">
    <p>About info ect.</p>
    
  </div>

  <div id="UserProjects" class="tabcontent">
    <p>List of projects</p>
  </div>  



  <!-- load footer -->
  <div id="footer"></div>

  <!-- load JS scripts -->
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/comeTogether.js"></script>
  <!-- load header and footer using scripts-->
  <script> $(function() {$("#header").load("/header.html")} ); </script>
  <script> $(function() {$("#footer").load("/footer.html")} ); </script>
</body>
</html>